<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false" ng-click="vm.collapsed = !vm.collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Northwind Employees</a></div>

        <div class="navbar-collapse" collapse="vm.collapsed">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/">Home</a></li>
                <li><a ng-href="#/employees">Employees</a></li>
            </ul>
        </div>
    </div>
</nav>
