<div class="container">

    <header>
        <acme-navbar></acme-navbar>
    </header>
    <div class="loader spaced" ng-hide="employeeCtrl.employee.$resolved">
        Loading...
    </div>
    <div class="employee" ng-show="employeeCtrl.employee.$resolved">
        <div class="employee col-xs-12">
            <img class="pull-right" ng-src="{{ employeeCtrl.employee.Photo | cleanImage }}"
                 alt="{{ employeeCtrl.employee.TitleOfCourtesy }} {{ employeeCtrl.employee.FirstName }} {{ employeeCtrl.employee.LastName }}">

            <h3>
                {{ employeeCtrl.employee.TitleOfCourtesy }} {{ employeeCtrl.employee.FirstName }} {{
                employeeCtrl.employee.LastName }}
                <small>age {{ - (employeeCtrl.employee.BirthDate | amDifference : null : 'years') }}</small>
            </h3>

            <p>{{ employeeCtrl.employee.Title }}, {{ employeeCtrl.employee.City }}</p>

            <h4>Address

                <small>
                    <br/>
                    {{employeeCtrl.employee.Address}}<br/>
                    {{employeeCtrl.employee.PostalCode}}
                    {{employeeCtrl.employee.City}}<span ng-if="employeeCtrl.employee.Region">, {{employeeCtrl.employee.Region}}</span>
                    <br/>
                    {{employeeCtrl.employee.Country}}
                </small>
            </h4>
            <h4 ng-repeat="attr in employeeCtrl.attributes"
                ng-if="employeeCtrl.employee[attr]">{{ attr | unCamel }}

                <small ng-switch="attr">
                        <span ng-switch-when="ReportsTo">
                            <a ng-href="#/employees/{{ employeeCtrl.reportsTo.EmployeeID }}">
                                {{ employeeCtrl.reportsTo.FirstName }}
                                {{ employeeCtrl.reportsTo.LastName }}
                            </a>
                        </span>
                        <span ng-switch-when="HireDate">
                            {{ employeeCtrl.employee.HireDate | amDateFormat:'Do MMMM, YYYY' }}
                        </span>
                        <span ng-switch-default>
                            {{ employeeCtrl.employee[attr] }}
                        </span>
                </small>
            </h4>
        </div>
    </div>

    <!-- ORDERS -->
    <div layout-align="left" layout="row" ng-if="employeeCtrl.employee.$resolved">
        <div class="col-xs-12">
            <div class="loader" ng-hide="employeeCtrl.orders.$resolved">
                Loading orders...
            </div>

            <div ng-if="employeeCtrl.orders.$resolved">
                <h3>Orders</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th ng-repeat="(key, dummy) in employeeCtrl.orders.value[0]" order-by="{{key}}"
                            ng-if="key != 'EmployeeID' && !key.match(employeeCtrl.avoidShip)">{{key | unCamel}}
                        </th>
                        <th>Shipping Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in employeeCtrl.orders.value | orderBy: employeeCtrl.ordering">
                        <td ng-repeat="(key, value) in order"
                            ng-if="key != 'EmployeeID' && !key.match(employeeCtrl.avoidShip)">
                            <p ng-switch="key">
                                        <span ng-switch-when="OrderDate">
                                            {{ value | amDateFormat:'YYYY-MM-DD' }}
                                        </span>
                                        <span ng-switch-when="RequiredDate">
                                            {{ value | amDateFormat:'YYYY-MM-DD' }}
                                        </span>
                                        <span ng-switch-when="ShippedDate">
                                            {{ value | amDateFormat:'YYYY-MM-DD' }}
                                        </span>
                                        <span ng-switch-default>
                                            {{ value }}
                                        </span>
                            </p>
                        </td>
                        <td>
                            {{order.ShipName}}<br/>
                            {{order.ShipAddress}}<br/>
                            {{order.ShipPostalCode}}
                            {{order.ShipCity}}<span ng-if="order.ShipRegion">, {{order.ShipRegion}}</span>
                            <br/>
                            {{order.ShipCountry}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
